.textFieldBlock  {
  display:flex;
  flex-direction:column;
  margin-bottom:16px;
  width:100%;
}
.textFieldGroup{
  display:flex;
  flex-direction:row;
  column-gap:30px;
  row-gap:36px;
  margin-bottom:36px;
}
.textField {
  flex-grow:1;
  min-width:255px;
  width:100%;
}
.textFieldPhoneContainer {
  width:100%;
}
.buttonsBlock {
  display:flex;
  flex-direction:row;
  column-gap:30px;
  row-gap:16px;
  flex-wrap:wrap;
}
.button {
  min-width:255px;
}
.hintContainer {
  padding-left:10px;
}
@media screen and (max-width:684px) {
  .button {
    width:100%;
  }
  .textFieldGroup {
    flex-direction:column;
  }
}
